.contest{
    height: 200px;
    text-align: center;
    position: relative;
    top: 250px;
}
p{
    font-size: 25px;
    font-weight: 700;
    padding: 0px;
    color: #010101;
    position: relative;
    left: 0px;
    top: 10px;
}
span{
    font-size: 15px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #010101;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}
a:hover,
a.active{
    color: rgb(13, 100, 124);
    font-weight: 700;
}